@model PlayerServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Position: <b>@Model.Position</b></h6>
            <h6>
                Price:
                <b>@String.Format("{0:f2}", Model.Price)</b>
            </h6>
            <br />
            <a asp-controller="TransferMarketPlayer" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-warning">Details</a>

            @if (User.Identity.Name == Model.UserId)
            {
                 <a asp-controller="TransferMarketPlayer" asp-action="Edit" asp-route-id="@Model.Id"
                    class="btn btn-success">Edit</a>
            }
            else
            {
                           <form class="input-group-sm" asp-controller="TransferMArketPlayer" asp-action="BuyPlayer" asp-route-id="@Model.Id">
                                                <input type="submit" value="Buy" class="fs-6 btn btn-danger mb-2 w-30 p-3 fw-bold"/>
                                    </form>
            }
            
        </div>
    </div>
</div>
