@model IEnumerable<AllResultsViewModel>
@{
    ViewBag.Title = "League Table";
    int day = DateTime.Now.Day + 3;
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row">


    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Matches Played</th>
      <th scope="col">Wins</th>
      <th scope="col">Draws</th>
      <th scope="col">Loses</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
                @foreach (var r in Model)
                {
                <tr>
                    <th scope="row">@r.TeamName</th>
                        <td>@r.MatchesPlayed</td>
                        <td>@r.Wins</td>
                        <td>@r.Draws</td>
                        <td>@r.Loses</td>
                        <td>@r.Points</td>
                </tr>
                }
  </tbody>
</table>
</div>

<div class="col-lg-6">
            <div class="widget-next-match">
              <div class="widget-title">
                <h3>Next Match</h3>
              </div>
              <div class="widget-body mb-3">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <h3>Football League</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <h3>Soccer</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center widget-vs-contents mb-4">
                <h4>World Cup League</h4>
                <p class="mb-5">
                  <span class="d-block">December 20th, 2020</span>
                  <span class="d-block">@DateTime.Now.DayOfWeek @DateTime.Now.AddDays(3) </span>
                  <strong class="text-primary">New Euro Arena</strong>
                </p>

                @*<div id="date-countdown2" class="pb-1"></div>*@
              </div>
            </div>
          </div>

@section Scripts {
                <partial name="_ValidationScriptsPartial" />
}
